astroid==2.11.2
beautifulsoup4==4.11.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
dill==0.3.4
flake8==4.0.1
html5lib==1.1
html5print==0.1.2
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
platformdirs==2.5.1
ply==3.4
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==2.13.5
pyperclip==1.8.2
requests==2.27.1
six==1.16.0
slimit==0.8.1
soupsieve==2.3.2
tinycss2==1.1.1
tomli==2.0.1
typing-extensions==4.1.1
urllib3==1.26.9
webencodings==0.5.1
wrapt==1.14.0
